<html>
<head>
<title>Cybercommons Logged Out</title>
<link type="text/css" href="http://static.cybercommons.org/css/cybercomui/jquery-ui-1.8.13.custom.css" rel="Stylesheet"/>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://static.cybercommons.org/js/jquery-ui-1.8.10.custom.min.js"></script>
<style>
    BODY{font-family:sans-serif; }
</style>
</head>
<body link="#C0C0C0" vlink="#808080" alink="#FF0000">
    <div id ="content" class="ui-widget-content" style="width:1250" >
        <div class="ui-widget-header ui-corner-all" style="height:38px;padding:2px;indent:2px;">
            <strong>Cybercommons Logged Out</strong>
        </div>
        <h1>Logged out</h1>
        

        <p>Thanks for spending some quality time with the Web site today.</p>

        <p><a href="/accounts/login/">Log in again</a></p>
        <br class="clear" />
    </div>
</body>
</html>
