<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <style>
            /*<!-- body { padding: 30px }
            form { display: block; margin: 20px; width:800px;background: #eee; border-radius: 10px; padding: 15px }-->*/

            .progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
            .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
            .percent { position:absolute; display:inline-block; top:3px; left:48%; }
        </style>
        {% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
       <title>Cybercommons Flora Exploration</title>
       <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{% static 'js/excanvas.min.js' %}"></script><![endif]-->
       <link type="text/css" href="{% static 'css/cybercomui/jquery-ui-1.8.13.custom.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{%  static 'css/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/cybercommons.css' %}">
       <link type="text/css" href="{%  static 'flora/style.css' %}" rel="stylesheet" />
       <link type="text/css" href="{% static 'css/cybercom/style.css' %}" rel="stylesheet" />
       <script type="text/javascript" src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
       <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.form.min.js' %}"></script>
	{% block extra_js %}{% endblock %}
    </head>
    <body>
        <div id="centered">
	    {% block main %}{% endblock %}
	 </div>
    </body>
</html>
